.header {
    padding: 10px; /* Add padding for spacing */
}

.container {
    
}

.column {
    display: inline-block; /* Use display:inline-block to align content horizontally */
    width: 48%; /* Set the width for both columns, you can adjust this as needed */
    padding: 10px; /* Add padding for spacing within columns */
}

.left {
    text-align: left; /* Justify content to the left in the left column */
}

.right {
    text-align: right; /* Justify content to the right in the right column */
}

body{
    background-image: url('./FrontEnd/HomePage/Assets/Christopher\ Tugwell\ -\ Seascape\ with\ Fisherman.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
}