/* Section 1 */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #333; /* Set a background color for the header */
    color: white; /* Set text color */
    padding: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* Images */
.background-image1 {
    background-image: url('./FrontEnd/HomePage/Assets/Christopher\ Tugwell\ -\ Seascape\ with\ Fisherman.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
    width: 100%;
}
.background-image2 {
    background-image: url('./FrontEnd/HomePage/Assets/Image\ 1.png');
}
.background-image3 {
    background-image: url('./FrontEnd/HomePage/Assets/Image\ 2.png');
}
