/* This is the StyleSheet for the following Wesbite 'www.xxx.com'
*/
.header-containerflex-container {
    /* We first create a flex layout context */
    display: inline-flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
  
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}

.parent {
    display: inline-flex;
    height: 300px; /* Or whatever */
  }
  
  .child {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
  }



/*
.background-art{
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    }


1. For Future Updates to accomodate viewing for different devices.

'media query' definitations
Mobile Devices: 319px — 480px
iPads and Tablets: 481px — 1200px
Laptops: 1201px — 1600px
Desktops: 1601px and more 

body {

    .background-art{
        opacity: 0.95;
        position: absolute;
        }

    }

@media (min-width: 319px) and (max-width: 480px) {
    body {
        .background-art{
            opacity: 0.8;
            position: absolute;
            }
        }
    }

  @media (min-width: 481px) and (max-width: 1200px) {
    body {
        .background-art{
            opacity: 0.5;
            position: absolute;
            }
        } 
    }  

  @media (min-width: 1201px) and (max-width: 1600px) {
    body {
        .background-art{
            opacity: 0.3;
            position: absolute;
            }
        } 
    }

  @media (min-width: 1601px) {
    body {
        .background-art{
            opacity: 0.1;
            position: absolute;
            }
        }
    }
*/